body {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3 {
  font-family: "Lobster", cursive; }

h3 {
  color: #35bacc; }

h2 {
  color: #4656b3; }

h1 {
  color: #30a59a; }

header h1 {
  color: #193d8b; }

header h2 {
  color: #468ebe; }

header h1 {
  color: #193d8b; }

.site-footer {
  background-image: linear-gradient(#b886e7, #8e6cff);
  padding: 40px 0;
  color: #682e9d;
  font-weight: bold; }

.site-footer h5 {
  color: rbg(104, 46, 157);
  font-weight: bolder; }

.site-footer a {
  color: #e4dcf5;
  font-weight: bold; }

.jumbotron {
  padding: 20px;
  background-image: linear-gradient(to right, #8bf5d5, #7cd0ed, #6bd692);
  background-attachment: absolute;
  background-position: top 0px left 0px;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #0887a3;
  margin: 0; }

.gradient-card-header-color {
  background-image: linear-gradient(to right, #77eb86, #34a0df); }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar {
  background-image: linear-gradient(to right, #ea2878, #ec791a); }

.header-image {
  position: fixed;
  top: -100px;
  left: -110px;
  width: 150%;
  z-index: 2; }

.header-text {
  z-index: 10; }

.tab-content {
  border: 2px solid #a4e0ec;
  border-top: none;
  padding: 10px; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel-caption h3 {
  color: white; }

.carousel {
  border: solid #cecece; }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100; }
